// =========================
// VARIABLES GLOBALES
// =========================

// PALETA DE COLORES iHook
$color-1: #ff561a;
$color-2: #6e20e6;
$color-3: #0e1947;
$color-4: #131519;
$color-5: rgb(255, 217, 198);
// =========================
$color-boton: #d9ff4f;
$color-texto: #333;
$color-fondo: #ffffff;


// ========================
// TIPOGRAFÍA
// ========================

$fuente-principal: 'League Spartan', sans-serif;

// =========================
// ESTILOS DE NAVEGACIÓN
// =========================

$navbar-alto: 72px;
$navbar-alto-mobile: 60px;
$navbar-fondo: transparent !important;
$navbar-fondo-media: transparent !important;

// =========================
// ESTILOS GENERALES
// =========================
$borde-radio: 20px;
$sombra-base: 0 2px 10px rgba(0,0,0,0.1);

// =========================
// IMÁGENES
// =========================
$logo-path: url('../assets/logo.jpg');
$imagen-fondo: url('../assets/fondo-blanco.jpeg');
$imagen-fondo-seccion: url('../assets/fondo3.png');
